.comment-form {
    display: flex;
    flex-direction: column;
}
.comment-top > span {
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.comment-form > button {
    float: right;
}

.comment-content {
    height: 100px;
    resize: none;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 20px;
}